@font-face{
  font-family: "Andromeda";
  src: url(./media/Andromeda.ttf);
}

@font-face{
  font-family: "WalkingDay";
  src: url(./media/Walkingday.ttf);
}

*{
  font-family: "WalkingDay", "Andromeda";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(133, 234, 216);
}

.scene, canvas {
  width: 100%;
  height: 100%;
  z-index: -1000; 
}

.introduction{
  position: absolute; 
  color: white; 
  z-index: 0;
  padding-top: 5vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction h1{
  align-self: center;
}

.introduction span{
  min-height: 28vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.introduction p{
  font-size: 2vw;
  margin: auto 2vw;
  text-shadow: 1px 1px 2px rgb(30, 208, 177);
}

.introduction p:nth-of-type(2){
  text-align: right;
}

h1{
  font-size: 5.5vw;
  font-family: "Andromeda", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: lighter;
}

/*--------------------------------------------------------!!! MY WORK !!!-------------------------------------------------------------------*/
.work{ 
  color: white; 
  margin-top: 5vw;
  width: 98.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work h1{
  text-shadow: 1px 1px 2px rgb(30, 208, 177);
}

.insidework h2{
  margin: 2vw 0 -3vw 4vw;
  font-size: 3rem;
}

.works{
  margin: 3.5vw 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card{
  transform-style: preserve-3d;
  min-height: 40vh;
  width: 27vw;
  border-radius: 30px; 
  padding: 2vh;
  background-color: rgb(30, 208, 177);
}

.image{
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  cursor: pointer;
}

.image img:nth-of-type(1){
  min-width: 10rem;
  max-width: 20rem;
  z-index: 20;
  transition: all 0.5s ease-out;
}

.image img:nth-of-type(2){
  position: absolute;
  min-width: 10rem;
  max-width: 20rem;
  z-index: 10;
  border-radius: 30px; 
}

.info h2{
  font-family: "Andromeda", Arial, Helvetica, sans-serif;
  margin-top: -1.5vw;
  margin-left: 1vw;
  position: absolute;
  font-size: 2rem;
  z-index: 30;
  text-shadow: 1px 1px 2px rgb(30, 208, 177);
  font-weight: lighter;
  transition: all 0.5s ease-out;
}

.info p{
  padding-top: 2vw;
  transition: all 0.5s ease-out;
}

iframe{
  border: none;
  border-radius: 15px;
}

.container button{
  border: none;
  border-radius: 15px;
  background-color: rgb(30, 208, 177);
  margin-top: 1vw;
}

a{
  text-decoration: none;
  color: white;
  padding: 2vw;
  font-size: 1.5rem;
}

/*---------------------------------------------------------------!!! FOOTER !!!-----------------------------------------------------------*/
footer{
  background-color: rgb(30, 208, 177);
  padding: 2vw;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
}

/*-------------------------------------------------------------!!! SCROLLBAR !!!----------------------------------------------------------*/
body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-track {
  background: rgb(133, 234, 216);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(30, 208, 177);
  border-radius: 20px;
  border: none; 
}

/*------------------------------------------------------------!!! PRELOADER !!!------------------------------------------------------------*/
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(133, 234, 216);
  z-index: 99999;
  text-align: center;
}

.preloader-icon{
  position: relative;
  top: 22%;
  width: 30vw;

  -webkit-animation: rotating 6s linear infinite;
  -moz-animation: rotating 6s linear infinite;
  -ms-animation: rotating 6s linear infinite;
  -o-animation: rotating 6s linear infinite;
  animation: rotating 6s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}